.about-container {
  padding: 20px;
  color: #99c5ff;
  font-family: Arial, sans-serif;
}

.about-container h1 {
  color: #99a3b1;
  margin-bottom: 20px;
}

.about-container h2 {
  color: #9ab2bb;
  margin-top: 20px;
}

.about-container p {
  line-height: 1.6;
  color: #a8ceff;
}

.about-container ul {
  list-style: disc;
  padding-left: 20px;
}

.about-container li {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .about-container {
    padding: 10px;
  }

  .about-container h1 {
    font-size: 1.8em;
  }

  .about-container h2 {
    font-size: 1.4em;
  }
}

@media (max-width: 576px) {
  .about-container {
    padding: 5px;
  }

  .about-container h1 {
    font-size: 1.5em;
  }

  .about-container h2 {
    font-size: 1.2em;
  }
}

@media (max-width: 320px) {
  .about-container {
    padding: 2px;
  }

  .about-container h1 {
    font-size: 1.2em;
  }

  .about-container h2 {
    font-size: 1em;
  }

  .about-container p {
    font-size: 0.8em;
  }

  .about-container ul {
    padding-left: 10px;
  }
}
