.about-container {
  padding: 20px;
  color: #99c5ff;
  font-family: Arial, sans-serif;
}

.about-container h1 {
  color: #99a3b1;
  margin-bottom: 20px;
}

.about-container h2 {
  color: #9ab2bb;
  margin-top: 20px;
}

.about-container p {
  line-height: 1.6;
  color: #a8ceff;
}

.about-container ul {
  list-style: disc;
  padding-left: 20px;
}

.about-container li {
  margin-bottom: 5px;
}
