.posted-jobs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10% 0 10%;
}

.completed-task-card {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  margin: 10px;
  width: 300px;
  text-align: center;
  border-radius: 20px;
}

.completed-task-card img{
  width: 100%;
  border-radius: 20px;
}

.ongoing-task-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
  border-radius: 20px;
}
.ongoing-task-card img{
  width: 100%;
  border-radius: 20px;
}
.buttons{
  display: flex;
  justify-content: space-between;
}
.remove-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.completed-button {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.completed-tag {
  color: green;
  font-weight: bold;
}

.ongoing-tag {
  color: orange;
  font-weight: bold;
}

@media (max-width: 768px) {
  .posted-jobs-container {
    margin: 0;
  }

  .completed-task-card,
  .ongoing-task-card {
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 320px) {
  .completed-task-card,
  .ongoing-task-card {
    padding: 5px;
  }

  .buttons {
    flex-direction: column;
  }

  .remove-button,
  .completed-button {
    margin-bottom: 5px;
  }
}
